body 
{
    background-color:White;
    font-size:12px;
    margin:0 auto; 
}
/*ID*/
#Body
{
   background-color:white;
   height:800px;
   margin:0 auto;
   width:1015px;
}
#Content
{
    border: 1px solid blue;
    height:500px;
    width:810px;
}
#Footer
{
    border:1px solid black;
    height:100px;
    width:1010px;
}
#Left
{
    border:1px solid green;
    height:500px;
    width:200px;
}
#Top
{
    border:1px solid red;
    height:200px;
    width:1010px;
}
/*Clase*/
.cFL
{
    float:left;
}
.cFR
{
    float:right;
}
.cPosRel
{
    position:relative;
}
.cPosAbs
{
    position:absolute;
}